/* UI Colour Variables */

:root {
  --siteBackground: #1f262d;
  --primaryBackground: #b0d4f8;
  --secondaryBackground: #2b333c;
  --tertiaryBackground: #f1f5f9;
  --primaryForeground: #0b1117;
  --secondaryForeground: #f5f7fa;
  --tertiaryForeground: #1f262d;
  --textOnPrimaryBackground: #0b1117;
  --textOnSecondaryBackground: #f5f7fa;
  --textOnTertiaryBackground: #1f262d;
  --links: #39a2ff;
}

/* Site Background */
$siteBackground: var(--siteBackground);

/* Backgrounds */
$primaryBackground: var(--primaryBackground);
$secondaryBackground: var(--secondaryBackground);
$tertiaryBackground: var(--tertiaryBackground);

/* Foregrounds */
$textOnPrimaryBackground: var(--textOnPrimaryBackground);
$textOnSecondaryBackground: var(--textOnSecondaryBackground);
$textOnTertiaryBackground: var(--textOnTertiaryBackground);

/* Foregrounds (aliases for backwards compatibility) */
$primaryForeground: $textOnPrimaryBackground;
$secondaryForeground: $textOnSecondaryBackground;
$tertiaryForeground: $textOnTertiaryBackground;

/* Text */
$links: var(--links);

/* Class colours */
$class-red: #ff6b6b;
$class-blue: #1f5bbb;
$class-green: #1a8b17;
$class-yellow: #f7d24d;
$class-orange: #bb6f1e;

