.p-inputtext,
.p-dropdown,
.p-inputnumber input,
.p-inputnumber,
.p-dropdown-label {
  min-height: 50px;
  height: 50px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.p-inputnumber input {
  width: 100%;
}

.p-dropdown-items {
    padding: 0;
}

/* Checkbox theming */
.p-checkbox .p-checkbox-box {
  background: var(--button-primary);
  border-color: var(--button-primary);
}

.p-checkbox .p-checkbox-box.p-highlight {
  background: var(--button-primary);
  border-color: var(--button-primary);
}

.p-checkbox .p-checkbox-box .p-checkbox-icon {
  color: var(--button-primary-text);
}
