@use "../../../assets/scss/ui/import" as *;

.coin-bar {
  display: inline-flex;
  gap: 0;
  width: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid color-mix(in srgb, $textOnSecondaryBackground 15%, transparent);
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
}

.coin-bar__seg {
  display: block;
  box-sizing: border-box;
  border-right-style: solid;
  border-right-color: color-mix(in srgb, $secondaryBackground 90%, transparent);
}

.coin-bar__seg:last-child {
  border-right: none;
}

.coin-bar__seg--red {
  background: $class-red;
}

.coin-bar__seg--blue {
  background: $class-blue;
}

.coin-bar__seg--green {
  background: $class-green;
}

.coin-bar__seg--yellow {
  background: $class-yellow;
}

.coin-bar__seg--orange {
  background: $class-orange;
}
